{% extends 'base/layout.html' %}

{% block body %}
  <div class="container">
    <div class="m-3 fs-4">
      {% for boop in follow_list %}
        {{ boop.user.first_name }} {{ boop.user.last_name }}
        <a class="btn btn-danger btn-icon-text btn-edit-profile ms-2 me-5" href="{% url 'users:remove_friend' boop.pk %}">Unfollow</a>
      {% endfor %}
      {% for boop in unfollowed_list %}
        {{ boop.user.first_name }} {{ boop.user.last_name }}
        <a class="btn btn-primary btn-icon-text btn-edit-profile ms-2 me-5" href="{% url 'users:add_friend' boop.pk %}">Follow</a>
      {% endfor %}
    </div>
  </div>
{% endblock %}
