
{% extends 'base/layout.html' %}

{% block title %}
<title>PantryPal | Pantry</title>
{% endblock %}

{% block body %}
<div class="container">
<form method="POST">
   {% csrf_token %}
   <div class="modal-body">
      <div class="d-flex flex-row">
         <div>
            First name: {{uForm.first_name}} 
         </div>
         <div>
            Last name: {{uForm.last_name}}
         </div>
      </div>
      <br>
      <div>
         About: {{form.about}}
      </div>
   </div>
      <button type="submit" class="btn btn-primary">Save Changes</button>
</form>

</div>
{% endblock %}