{% extends 'base/layout.html' %}

{% block title %}
  <title>PantryPal | Pantry</title>
{% endblock %}

{% block body %}
  <div class="container">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Item</button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add a new Item</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form method="POST">
            {% csrf_token %}
            <div class="modal-body">
              <div class="mb-3">
                <label for="foodItem" class="form-label">New Item</label>
                <input class="form-control" name="item" />
              </div>
              <div class="mb-3">
                <label for="foodQuantity" class="form-label">Quantity</label>
                <input class="form-control" name="quantity" />
                <div id="foodQuantity" class="form-text">Enter a number associated with the quantity as well as a unit e.g. 1 loaf for food item bread.</div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Add Item</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    {% for pantry_item in pantry_items %}
    <div class="row">
      {{ pantry_item.name }} - {{ pantry_item.quantity }} 
      <a class="" href={% url 'pantry:delete_item' pantry_item.pk %}>delete</a>
    </div>
      
    {% endfor %}
  </div>
{% endblock %}
