{% extends 'base/layout.html' %}

{% block title %}
  <title>PantryPal | Pantry</title>
{% endblock %}

{% block body %}
  <div class="container">
    <div class="d-flex flex-row m-3">
      <p class="fs-2">My Pantry</p>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary fs-4 ms-auto" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Item</button>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add a new Item</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form method="POST">
            {% csrf_token %}
            <div class="modal-body">
              {{form}}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Add Item</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="d-flex flex-row"></div>
    {% for pantry_item in pantry_items %}
        <div class="fs-4 mx-5 w-auto my-2">
          {{ pantry_item.name }}: {{pantry_item.foodGroup}}
          <a type="button" class="btn btn-danger fs-6 mx-5" href="{% url 'pantry:delete_item' pantry_item.pk %}">Delete</a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
