{% extends 'base/base.html' %} {% block style %}
<style>
  body {
    background-color: #f9fafb;
    margin-top: 20px;
  }

  .profile-page .profile-header {
    box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
    border: 1px solid #f2f4f9;
  }

  .profile-page .profile-header .cover {
    position: relative;
    border-radius: 0.25rem 0.25rem 0 0;
  }

  .profile-page .profile-header .cover figure {
    margin-bottom: 0;
  }

  @media (max-width: 767px) {
    .profile-page .profile-header .cover figure {
      height: 110px;
      overflow: hidden;
    }
  }

  @media (min-width: 2400px) {
    .profile-page .profile-header .cover figure {
      height: 280px;
      overflow: hidden;
    }
  }

  .profile-page .profile-header .cover figure img {
    border-radius: 0.25rem 0.25rem 0 0;
    width: 100%;
  }

  @media (max-width: 767px) {
    .profile-page .profile-header .cover figure img {
      -webkit-transform: scale(2);
      transform: scale(2);
      margin-top: 15px;
    }
  }

  @media (min-width: 2400px) {
    .profile-page .profile-header .cover figure img {
      margin-top: -55px;
    }
  }

  .profile-page .profile-header .cover .gray-shade {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(rgba(255, 255, 255, 0.1), #fff 99%);
  }

  .profile-page .profile-header .cover .cover-body {
    position: absolute;
    bottom: -20px;
    left: 0;
    z-index: 2;
    width: 100%;
    padding: 0 20px;
  }

  .profile-page .profile-header .cover .cover-body .profile-pic {
    border-radius: 50%;
    width: 100px;
  }

  .profile-pic {
    width: 50px;
    background-color: rgb(240, 240, 240);
  }

  @media (max-width: 767px) {
    .profile-page .profile-header .cover .cover-body .profile-pic {
      width: 70px;
    }
  }

  .profile-page .profile-header .cover .cover-body {
    font-size: 20px;
    font-weight: 600;
    margin-left: 17px;
  }

  .profile-name {
    color: rgb(240, 240, 240);
    font-size: 30px;
    font-weight: 600;
    margin-left: 17px;
  }

  .profile-page .profile-header .header-links {
    padding: 15px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    background: #fff;
    border-radius: 0 0 0.25rem 0.25rem;
  }

  .profile-page .profile-header .header-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .profile-page .profile-header .header-links ul li a {
    color: #000;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }

  .profile-page .profile-header .header-links ul li:hover,
  .profile-page .profile-header .header-links ul li.active {
    color: #727cf5;
  }

  .profile-page .profile-header .header-links ul li:hover a,
  .profile-page .profile-header .header-links ul li.active a {
    color: #727cf5;
  }

  .profile-page .profile-body .left-wrapper .social-links a {
    width: 30px;
    height: 30px;
  }

  .profile-page .profile-body .right-wrapper .latest-photos > .row {
    margin-right: 0;
    margin-left: 0;
  }

  .profile-page .profile-body .right-wrapper .latest-photos > .row > div {
    padding-left: 3px;
    padding-right: 3px;
  }

  .profile-page .profile-body .right-wrapper .latest-photos > .row > div figure {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin-bottom: 6px;
  }

  .profile-page .profile-body .right-wrapper .latest-photos > .row > div figure:hover {
    -webkit-transform: scale(1.06);
    transform: scale(1.06);
  }

  .profile-page .profile-body .right-wrapper .latest-photos > .row > div figure img {
    border-radius: 0.25rem;
  }

  .rtl .profile-page .profile-header .cover .cover-body {
    margin-left: 0;
    margin-right: 17px;
  }
  .img-xs {
    width: 37px;
    height: 37px;
  }
  .rounded-circle {
    border-radius: 50% !important;
  }
  img {
    vertical-align: middle;
    border-style: none;
  }

  .card-header:first-child {
    border-radius: 0 0 0 0;
  }
  .card-header {
    padding: 0.875rem 1.5rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 1px solid #f2f4f9;
  }

  .card-footer:last-child {
    border-radius: 0 0 0 0;
  }
  .card-footer {
    padding: 0.875rem 1.5rem;
    background-color: rgba(0, 0, 0, 0);
    border-top: 1px solid #f2f4f9;
  }

  .grid-margin {
    margin-bottom: 1rem;
  }

  .card {
    box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
    -webkit-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
    -moz-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
    -ms-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
  }
  .rounded {
    border-radius: 0.25rem !important;
  }
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #f2f4f9;
    border-radius: 0.25rem;
  }
</style>
{% endblock %} {% block layout %}
<div class="container">
  <div class="profile-page tx-13">
    <div class="row">
      <div class="col-12 grid-margin">
        <div class="profile-header">
          <div class="cover">
            <!-- <div class="gray-shade"></div> -->
            <figure>
              <img
                src="https://us.sodexo.com/files/live/sites/com-us/files/industry/seniors/groceries2go1.jpg"
                class="img-fluid"
                alt="profile cover" />
            </figure>
            <div class="cover-body d-flex justify-content-between align-items-center">
              <div>
                <img
                  class="profile-pic p-2"
                  src="https://cdn-icons-png.flaticon.com/512/3461/3461980.png"
                  alt="profile" />
                <span class="profile-name">{{ request.user.first_name }} {{ request.user.last_name }}</span>
              </div>
              <div class="d-none d-md-block">
                <a class="btn btn-primary btn-icon-text btn-edit-profile mr-3" href="{% url 'users:logout' %}"
                  >Logout</a
                >
              </div>
            </div>
          </div>
          <div class="header-links">
            <ul class="links d-flex align-items-center mt-3 mt-md-0">
              <li class="header-link-item d-flex align-items-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-columns mr-1 icon-md">
                  <path
                    d="M12 3h7a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-7m0-18H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h7m0-18v18"></path>
                </svg>
                <a class="pt-1px d-none d-md-block" href="{% url 'feed:feed' %}">Feed</a>
              </li>
              <li class="header-link-item ml-3 pl-3 border-left d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket3" viewBox="0 0 16 16">
                  <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6h1.717L5.07 1.243a.5.5 0 0 1 .686-.172zM3.394 15l-1.48-6h-.97l1.525 6.426a.75.75 0 0 0 .729.574h9.606a.75.75 0 0 0 .73-.574L15.056 9h-.972l-1.479 6h-9.21z"/>
                </svg>
                <a class="pt-1px d-none d-md-block" href="{% url 'pantry:pantry' %}">Pantry</a>
              </li>
              <li class="header-link-item ml-3 pl-3 border-left d-flex align-items-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-users mr-1 icon-md">
                  <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                  <circle cx="9" cy="7" r="4"></circle>
                  <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                  <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                </svg>
                <a class="pt-1px d-none d-md-block" href="{% url 'users:follow' %}">Friends</a>
              </li>
              <li class="header-link-item ml-3 pl-3 border-left d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-robot" viewBox="0 0 16 16">
                  <path d="M6 12.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5M3 8.062C3 6.76 4.235 5.765 5.53 5.886a26.58 26.58 0 0 0 4.94 0C11.765 5.765 13 6.76 13 8.062v1.157a.933.933 0 0 1-.765.935c-.845.147-2.34.346-4.235.346-1.895 0-3.39-.2-4.235-.346A.933.933 0 0 1 3 9.219zm4.542-.827a.25.25 0 0 0-.217.068l-.92.9a24.767 24.767 0 0 1-1.871-.183.25.25 0 0 0-.068.495c.55.076 1.232.149 2.02.193a.25.25 0 0 0 .189-.071l.754-.736.847 1.71a.25.25 0 0 0 .404.062l.932-.97a25.286 25.286 0 0 0 1.922-.188.25.25 0 0 0-.068-.495c-.538.074-1.207.145-1.98.189a.25.25 0 0 0-.166.076l-.754.785-.842-1.7a.25.25 0 0 0-.182-.135Z"/>
                  <path d="M8.5 1.866a1 1 0 1 0-1 0V3h-2A4.5 4.5 0 0 0 1 7.5V8a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1v1a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-1a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1v-.5A4.5 4.5 0 0 0 10.5 3h-2zM14 7.5V13a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V7.5A3.5 3.5 0 0 1 5.5 4h5A3.5 3.5 0 0 1 14 7.5"/>
                </svg>
                <a class="pt-1px d-none d-md-block" href="{% url 'recipes:recipes' %}">Recipes</a>
              </li>
              <li class="header-link-item ml-3 pl-3 border-left d-flex align-items-center">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-shopping-cart mr-1 icon-md">
                  <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                  <circle cx="12" cy="7" r="4"></circle>
                </svg>
                <a class="pt-1px d-none d-md-block" href="{% url 'users:profile'%}">Profile</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% block body %} {% endblock %} {% endblock %} {% block modal %} {% endblock %}
